= render "shared/header"
%main.mypage
  .mypage-body
    = render "shared/mypage-side"
    .mypage-content
      .mypage-content--logout
        .mypage-content--logout__button
          ログアウト
= render "shared/footer"
= render "shared/sell-btn"
