%header.single-header
  %h1.single-header__title
    =link_to '', class: "single-header__title-link" do
      = image_tag "logo.svg", width: "185", height: "49", class: "single-header-title-link-img"
