%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box__container
    %h3.text-center
      =link_to 'レディース新着アイテム', ''
    .items-box__content.clearfix
      = render partial: "shared/product_card", collection: @products, as: "product"
      .view-all
        =link_to "すべての商品を見る", ''
