%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box__container
    %h3.text-center
      =link_to 'レディース新着アイテム', ''
    .items-box__content.clearfix
      - @products.each do |product|
        %section.items-box
          =link_to product_path(product) do
            %figure.items-box__photo
              = image_tag product.image
            .items-box__body
              %h3.items-box__name
                = product.name
              .items-box__num
                .items-box__price
                  ¥
                  = number_with_delimiter(product.price)
                %p.items-box__tax (税込)
            -if product.sales_condition == 3
              %span SOLD OUT
      .view-all
        =link_to "すべての商品を見る", ''
