.mypage-side
  %nav.mypage-side--nav
    %ul.mypage-side--nav__ul
      %li.mypage-side--nav__ul__li
        =link_to "/users/#{current_user.id}" do
          %span  マイページ
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  お知らせ
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  やることリスト
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  いいね！一覧
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to new_product_path do
          %span  出品する
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/users/#{current_user.id}/lists" do
          %span  出品した商品-出品中
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/users/#{current_user.id}/lists" do
          %span  出品した商品-取引中
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/users/#{current_user.id}/lists" do
          %span  出品した商品-売却済み
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  購入した商品-取引中
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  購入した商品-過去の取引
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  ニュース一覧
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  評価一覧
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  ガイド
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  お問い合わせ
          %i.fa.fa-angle-right
    %h3  メルペイ
    %ul.mypage-side--nav__ul
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  売上・振込申請
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  ポイント
          %i.fa.fa-angle-right
    %h3  設定
    %ul.mypage-side--nav__ul
      %li.mypage-side--nav__ul__li
        =link_to "/users/:id/profile" do
          %span  プロフィール
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  発送元・お届け先住所変更
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to user_cards_path(current_user) do
          %span  支払方法
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  メール/パスワード
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/users/:id/confirmation" do
          %span  本人情報
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/" do
          %span  電話番号の確認
          %i.fa.fa-angle-right
      %li.mypage-side--nav__ul__li
        =link_to "/users/:id/logout" do
          %span  ログアウト
          %i.fa.fa-angle-right
