%nav.pankuzu
  %ul.pankuzu-list
    %li.pankuzu-list__item
      =link_to '' do
        %span.pankuzu-top メルカリ
        = fa_icon '', class: 'fa-angle-right'
    %li.pankuzu-list__item
      %span anello リュック
