%li
  =link_to  product_path(product), class: 'mypage-item-link' do
    %figure
      =image_tag("#{product.product_images.first.product_image}")
    .mypage-item-body
      %p #{product.name}
      %p #{SalesCondition.data[product.sales_condition.to_i].fetch(:name)}
    %i.fa.fa-angle-right
