.single {
  padding: 0 0 300px;
  position: relative;
  background-color: #f5f5f5;
  &-header {
    height: 128px;
    text-align: center;
    &__title {
      padding-top: 40px;
      &-link {
        display: inline-block;
        &-img:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &-main {
    display: block;
    height: auto;
    .main-container {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__head {
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
      }
      &__seller {
        padding: 40px;
        border-top: 1px solid #f5f5f5;
        clear: both;
        h3{
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 10px;
        }
        p{
          margin: 0 0 10px;
        }
        .product-image__upload{
          width: 620px;
          height: 120px;
          background-color: #f5f5f5;
          border: 1px dashed #ccc;
          text-align: center;
          line-height: 120px;
          pre{
          }
        }
        h3.sell-sub-head{
          float: left;
        }
        .sell-form-box{
          width: 400px;
          float: right;
          .sell-price{
            margin: 0 0 40px;
            li{
              font-size: 16px;
              font-weight: bold;
              margin: 0 0 30px;
              .clearfix{
                height: 48px;
                line-height: 48px;
                .l-right{
                  input{
                    margin: 0;
                  }
                }
              }
              .sell-price-input{
                width: 50%;
                text-align: right;
                float: right;
                input{
                  width: 70%;
                }
              }
            }
          }
        }
        .main-container__inner-content{
          .back-button{
            background: #aaa;
            border: 1px solid #aaa;
            color: #fff;
          }
        }
      }
    }
  }
}
