.cardindex{
  position: relative;
  background-color: #f5f5f5;
  height: 1500px;
  &-body{
    margin: 40px auto 0;
    width:1020px;
    .mypage-side{
      float:left;
      width:280px;
      margin:0 40px 0 0;
      &--nav{
        &__ul{
          &__li:hover{
            background-color:#eee;
            i.fa{
              color:#000;
            }
          }
          &__li{
            background-color:#fff;
            border:0;
            border-top:1px solid #eee;
            width:280px;
            height:50px;
            a{
              font-size: 16px;
              position: relative;
              display: block;
              min-height: 48px;
              padding: 16px;
              color: #333;
              text-decoration: none;
              i.fa{
                float:right;
                color: #ccc;
              }
            }
          }
        }
        h3{
          margin: 40px 4% 0;
          font-size: 16px;
        }
      }
    }
    .cardindex-content{
      float: right;
      width: 700px;
      height: 90%;
      &-inner{
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        section{
          .cardindex-single-content{
            max-width: 320px;
            margin: 0 auto;
            h3{
              font-size: 16px;
              font-weight: bold;
            }
          }
          ul{
          }
        }
        section.setting-add-card{
          padding: 24px 0;
          border-bottom: 1px solid #eee;
          .cardindex-single-content{
            button{
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              margin-bottom: 8px;
              i.fa{
                margin-right: 16px;
              }
            }
          }
        }
        .settings-not-regist{
          a{
            display: block;
            margin: 40px 0 0;
            color: #0099e8;
            text-align: right;
            span{
            }
          }
        }
      }
    }
    .cardindex-chapter-container{
      margin: 0;
      background: #fff;
      h2{
        font-size: 24px;
        padding: 8px 24px;
        line-height: 1.4;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.mypage-content--logout{
  background-color: #fff;
  height: 180px;
  position: relative;
  &__button{
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 320px;
    background-color: #ea352d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    a{
      color: #fff;
    }
  }
}
