.app-banner {
  background: url(aside.jpg);
  background-position: center;
  &--pc {
  overflow: hidden;
  position: relative;
  width: 750px;
  height: 260px;
  margin: 0 auto;
  color: $white;
    &__inner {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
      h2 {
      margin: 0;
      }
      p {
      margin: 10px 0 0 0;
      font-size: 35px;
      }
    }
    &__icon {
      margin: 20px 0 0;
      img {
      float: left;
      }
      ul {
      float: left;
      margin: 0 0 0 24px;
      list-style: none;
      height: 68px;
      padding: 10px 0;
      }
      li {
      float: left;
      }
      a {
      display: block;
      }
    }
    figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    margin: 0;
    }
  }
}

.footer {
  background: #212121;
  color: $white;
  padding: 60px 0;
  text-align: center;
  nav {
  margin: 0 auto;
  }
  &-cell {
  display: inline-block;
  width: 18%;
  margin: 0;
  vertical-align: top;
    &--head {
    font-size: 14px;
    margin: 0;
    }
      ul {
      list-style: none;
      padding: 0;
      text-decoration: none;
      color: #fff;
      }
      li:first-child {
      margin: 24px 0 0;
      }
      li {
      margin: 10px 0 0;
      font-size: 14px;
      text-decoration: none;
      color: #fff;
      }
      a {
      color: white;
      }
      img{
      margin-right: 8px;
      width: 22px;
      }
  }
}
  .footer-logo {
  display: block;
  margin: 40px 0 0;
    &-bottom {
      width: 124px;
    }
  }
  .footer-copyright {
  font-size: 13px;
  margin: 8px 0 0;
  }
