.pc-header {
    position: relative;
    z-index: 1001;
    background: $white;
    height: 90;
    width: 969;
    &-inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
        .clearfix::after {
        content: "";
        display: block;
        clear: both;
        }
        &__form {
        position: relative;
        width: calc(100% - (134px + 16px));
        padding-top: 2px;
        padding-bottom: 2px;
            .input-default {
            width: 100%;
            height: 36px;
            padding: 9px 32px 9px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fafafa;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            font-size: 16px;
            margin: 0px;
            }
            #sbtn2{
            height:36px;
            position:absolute;
            right:5px;
            top:0;
            background:none;
            color:#666;
            border:none;
            font-size:20px;
            }
        }
        .pc-header-nav {
        margin: 8px 0 0;
            &__box {
            font-size: 30px;
            padding: 0;
                li {
                position: relative;
                display: inline-block;
                padding: 0 0 0 16px;
                left: 0px;
                    h2 {
                    font-size: 14px;
                    font-weight: 400;
                        &__root {
                        }
                    }
                }
            }
            &__login{
            margin: 0;
                .header-nav__my{
                    width: 120px;
                    height: 40px;
                    line-height: 40px;
                    a{
                        color: black;
                        font-size: 14px;
                    }
                }
                li {
                display: inline-block;
                margin: 0 0 0 8px;
                padding: 0;
                    .sp-header-btn {
                    display: inline-block;
                    padding: 0 6px;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 32px;
                    margin: 0;
                    }
                    .button {
                    display: inline-block;
                    margin: 3px;
                    border-radius: 4px;
                    color: $white;
                    text-decoration: none;
                    letter-spacing: 1px;
                    font-size: 0.7rem;
                    }
                    .btn-red {
                    background: #ea352d;
                    border: 1px solid #ea352d;
                    color: $white;
                    }
                    .header-signup {
                    display: inline-block;
                    border: 1px solid #0099e8;
                    background: $white;
                    color: #0099e8;
                    }
                }
            }
        }
    }
}





