.pickup-container {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.pickup-head {
  text-align: center;
  font-size: 28px;
}

.items-box-container {
  width: 940px;
  margin: 0 auto;
}

.text-center {
  font-size: 22px;
  text-align: center;
  margin: 26px 11px;
}

.text-center a {
  color: #0098e8;
}

.text-center a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.items-box-content {
  width: auto;
  margin: 0 auto;
}

.items-box-content::after {
  content: "";
  clear: both;
  display: block;
}

.items-box {
  margin-left: 20px;
  width: 213px;
  float: left;
  position: relative;
  background-color: $white;
}

.items-box a {
  display: block;
  color: #333;
}

.items-box-photo {
  height: 220px;
  overflow: hidden;
  position: relative;
}

.items-box-photo img {
  width: auto;
  position: absolute;
  left: 50%;
  right: auto;
  height: 100%;
  transform: translate(-50%, 0);
}

.items-box-body {
  padding: 16px;
  height: 110px;
}

.items-box-name {
  overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
    font-size: 16px;
    color: #333;
}

.items-box-num {
  margin: 8px 0 0;
}

.items-box-price {
  font-size: 20px;
  font-weight: 600;
  float: left;
  color: #333;
}

.items-box-tax {
  font-size: 10px;
  clear: both;
}

.view-all {
  width: 99.5%;
  padding: 20px 0 30px;
  text-align: right;
}

.view-all a {
  color: #0098e8;
}

.view-all a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
