.item-box {
  background-color: #fff;
  padding: 24px 40px 40px;
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  &__name {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
  }
  &__sub {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
  }
  &__main {
    margin: 16px 0 0;
    &-photo {
      float: left;
      background-color: #fafafa;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      position: relative;
      .thumb-item {
        img {
          width: 300px;
          height: 300px;
        }
      }
      .thumb-item-nav {
        margin: 0;
        float: left;
        opacity: 0.5;
        img {
          width: 75px;
          height: 75px;
        }
      }
      span{
        position: absolute;
        top: 37%;
        left: 22%;
        font-weight: bold;
        font-size: 32px;
        color:#fff;
        background: #ea352d;
        border: 1px solid #ea352d;
      }
    }
    &-detail {
      float: right;
      max-width: 300px;
      height: 375px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      th {
        border: 1px solid #f5f5f5;
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 0 8px;
      }
      td {
        width: 61%;
        padding: 0 8px;
        border: 1px solid #f5f5f5;
        a {
          color: #0099e8;
          display: block;
        }
        .face {
          padding-top: 10px;
          div {
            display: inline-block;
            .fa-grin {
              color: #ef5185;
            }
            .fa-meh {
              color: #fba933
            }
            .fa-dizzy {
              color: #6ab5d8;
            }
          }
        }
      }
    }
  }
  .clearfix::after {
  content: "";
  display: block;
  clear: both;
  }
  &__price {
    margin: 24px 0 0;
    text-align: center;
    .price {
      margin: 0 16px 0 0;
      font-size: 46px;
      font-weight: bold;
    }
    .tax {
      font-size: 14px;
    }
    .shipping {
      font-size: 18px;
    }
  }
  &__buy {
    height: 60px;
    line-height: 60px;
    display: block;
    margin: 16px 0 0;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    &-disable{
      @extend .item-box__buy;
      background: #aaa;
      border: 1px solid #aaa;
    }
  }
  &__buy:hover {
    text-decoration: none;
    opacity: 1;
  }
  &__description {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    p {
      white-space: pre-wrap;
    }
  }
  &__button {
    margin: 16px 0 0;
    &-left {
      float: left;
      a {
        display: inline-block;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
      }
    }
    &-right {
      margin: 8px 0 0;
      float: right;
      a {
        color: #0099e8;
      }
    }
  }
  .clearfix::after {
  content: "";
  display: block;
  clear: both;
  }
}

.item-message {
  margin: 8px auto;
  width: 700px;
  &__content {
    padding: 24px;
    background-color: #fff;
    ul {
      font-size: 14px;
      li {
        margin-top: 40px;
        .message-user {
          float: left;
          position: relative;
          top: -20px;
          display: inline-block;
          color: #333;
          &__icon {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            background-color: red;
          }
          &__name {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 56px;
            max-width: 100%;
            min-width: 214px;
            height: 1.2em;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .message-body {
          float: right;
          position: relative;
          width: calc(100% - 56px);
          padding: 16px;
          background: #eef0f4;
          border-radius: 15px;
          line-height: 1.5;
          &__icons {
            margin-top: 8px;
          }
        }
      }
      .clearfix::after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
}

.social-media {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background-color: #fff;
  &__box {
    margin: 16px 0 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 8px 0 8px;
      a {
        display: block;
      }
    }
    i {
      width: 44px;
      height: 44px;
      border-radius: 4px;
      line-height: 44px;
    }
    .fa-facebook {
      color: #fff;
      background: #385185;
      font-size: 18px;
    }
    .fa-twitter{
      color: #fff;
      background: #5d9dc9;
      font-size: 18px;
    }
    .fa-pinterest {
      color: #fff;
      background: #aa262a;
      font-size: 18px;
    }
  }
}
