.signup-header {
  height: 128px;
  text-align: center;
  &__logo {
    margin: 40px 0 0;
    display: inline-block;
    a {
      display: inline-block;
      width: 185px;
      height: 49px;
      margin: 0 8px 0 0;
      img:hover {
        opacity: 0.8;
      }
    }
  }
  &__nav {
    padding: 40px 0 0 44px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center;
    .active {
      color: #ea352d;
      font-weight: 600;
      .status {
        background: #ea352d;
      }
    }
    li {
      font-size: 12px;
      color: #888;
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0 40px 0 0;
      .status {
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
      }
      .status::after {
        left: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
      .status::before {
        right: 50%;
        position: absolute;
        bottom: 5px;
        z-index: -1;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #ccc;
      }
    }
  }
}
.signup-form {
  max-width: 320px;
  margin: 0 auto;
  &__group:first-child {
    margin: 0;
  }
  &__group {
    margin: 40px 0 0;
    label {
      font-weight: 600;
      font-size: 14px;
    }
    span {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 3px 4px;
      border-radius: 3px;
      color: #fff;
      font-size: 12px;
    }
    &-inner {
      width: 100%;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      margin: 8px 0 0;
    }
    h3 {
      font-size: 16px;
    }
    p {
      margin: 8px 0 0;
      font-size: 14px;
    }
  }
  .btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .btn-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    margin: 40px 0 0;
  }
  &__text {
    margin: 8px 0 0;
    color: #888;
    font-size: 14px;
  }
  .text-right {
    text-align: right;
    &__inner {
      color: #0099e8;
    }
  }
}
