.must-icon{
  background-color: #ea352d;
  color: #fff;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
  vertical-align: top;
}

.select-default{
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  margin: 8px 0;
  width: 100%;
}

.input-default{
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  margin: 10px 0 0;
}

.textarea-default{
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.back-button{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.checkbox-default{
  top: 50%;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
}

.btn-default{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.btn-gray{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  float: left;
}

.btn-red{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  float: right;
}
